@using PersonnelManagement.Entities.Concrete
@using PersonnelManagement.Entities.DTOs;
@using PersonnelManagement.Mvc
@using PersonnelManagement.Mvc.Models
@model dynamic

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Your page title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>var $ = jQuery.noConflict(false);</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    
    <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth() + 1;
    var year = today.getFullYear();
    if (day < 10) {
        day = '0' + day;
    }
    if (month < 10) {
        month = '0' + month;
    }
    var formattedDate = year + '-' + month + '-' + day;
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      initialDate: formattedDate,
      locale: "tr",
      themeSystem: "bootstrap",
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      eventDisplay: "block",
      select: function(arg) {
          $.ajax({
                url: "/Schedule",
                type: "GET",
                success: function (result) {
                    $("#addScheduleShiftModal.modal-content").html(result);
                    document.getElementById("addScheduleShiftModal").style.display = "block";
                }
          });
          document.getElementById("inputtedStartDate").value = arg.startStr;
          document.getElementById("inputtedEndDate").value = arg.endStr;
        //var title = prompt('Event Title:');
        //if (title) {
        //  calendar.addEvent({
        //    title: title,
        //    start: arg.start,
        //    end: arg.end,
        //    allDay: arg.allDay
        //  })
        //}
        calendar.unselect()
      },
      eventClick: function(arg) {
          var eventId = arg.event.id
          Swal.fire({
            title: 'Hangi işlemi Yapmak istersiniz?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Edit',
            denyButtonText: 'Delete',
            customClass: {
                actions: 'my-actions',
                cancelButton: 'order-1 right-gap',
                confirmButton: 'order-2',
                denyButton: 'order-3',
            }
          }).then((result) => {
          if (result.isConfirmed) {
              Swal.fire('Edited', '', 'success')
          } else if (result.isDenied) {
              Swal.fire('Deleted', '', 'success')
          }
})
      },
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      eventDidMount: function (info) {
          var detailTitle = info.event._def.extendedProps.description;
          var detailOwner = info.event._def.title
            $(info.el).popover({
                title: detailTitle,
                placement: 'top',
                trigger: 'hover',
                content: detailOwner,
                container: 'body'
            });
      },
      eventRender: function(info) {
      //  var tooltip = new Tooltip(info.el, {
      //      title: info.event.extendedProps.description,
      //      placement: 'top',
      //      trigger: 'click',
      //      container: 'body'
      //  });
      },
      events: "/Schedule/GetCalendarDatas/"
    });

    calendar.render();
  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

  .popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}
</style>
</head>
<body>
    
    <div id = "addShiftTypeModal" class="modal" style="display:none">
        <div class="modal-content">
            @Html.Partial("_AddShiftTypePartial")
        </div>
    </div>

    <div id = "addScheduleShiftModal" class="modal" style="display:none">
        <div class="modal-content">
            @Html.Partial("_AddScheduleShiftPartial")
        </div>
    </div>
  <div class="container">
      <div id='calendar'></div>
  </div>
  <table>
      <tr>
          <th>Vardiya Tipleri</th>
      </tr>
        @foreach (var item in Model.shiftTypes)
        {
                                        <tr><td style="background-color:@item.Color; color:white"><span>&#8594;</span> @item.StartTime.ToString("hh\\:mm") - @item.EndTime.ToString("hh\\:mm") ~ @item.ShiftTypeName </td></tr>
        }
  </table>
  <button id ="addNewButton" onclick="onClickNewAdd()">Add New</button>
                          <button id ="updateButton" >Update</button>

   
</body>
<script type="text/javascript">

    var rowId = -1
    var selectedStId = -1

    $(document).on('click', '.sel_btn', function () {

            var row = $(this).closest('tr.jqgrow');
            rowId = row.attr('id');
            debugger;
    });

    $(document).ready(function() {

        var isSpecial = false;
        onClickNewAdd = function() {
            $.ajax({
                url: "/Schedule",
                type: "GET",
                success: function (result) {
                    $("#addShiftTypeModal.modal-content").html(result);
                    document.getElementById("addShiftTypeModal").style.display = "block";
                }
            });
        }

        onClickSave = function(){
                var employeeId = rowId;
                var inputtedStartDate = $('#inputtedStartDate').val()
                var inputtedEndDate = $('#inputtedEndDate').val()

                var scheduleShiftData = {
                    EmployeeId: employeeId,
                    IsSpecial: isSpecial,
                    StartDate: inputtedStartDate,
                    EndDate: inputtedEndDate,
                        SpecialShiftType : $('#inputtedSpecialShiftType').text(),
                        SpecialStartTime : $('#inputtedScheduleShiftStartTime').val(),
                        SpecialEndTime : $('#inputtedScheduleShiftEndTime').val(),
                        SpecialColor : $('#inputtedSpecialColor').val(),
                    ShiftTypeId : selectedStId,
                    
                }
                    $.ajax({
                        type: "POST",
                        url: "/Schedule/AddScheduleShift",
                        data: scheduleShiftData,
                        success: function(data) {

                            document.getElementById("addScheduleShiftModal").style.display = "none";
                        },
                        error: function(error) {
                        console.log(error);
                        }
                    });
                        
                    
        }

        onShiftTypeChange = function(){
                var selectedShiftType = $('#stlist option:selected').text()
                var select = document.getElementById("stlist")
                var selectedOption = select.options[select.selectedIndex];
                var selectedStartTime = selectedOption.dataset.starttime;
                var selectedEndTime = selectedOption.dataset.endtime;
                selectedStId = selectedOption.dataset.id;
                if(selectedShiftType == "Özel Vardiya"){
                    document.getElementById("SpecialShiftTypeBlock").style.display = "block";
                    isSpecial = true;
                    $('#inputtedSpecialShiftType').val('')
                    $('#inputtedSpecialColor').val('#000000')
                    $('#inputtedScheduleShiftStartTime').val('')
                    $('#inputtedScheduleShiftEndTime').val('')
                    document.getElementById("inputtedScheduleShiftStartTime").disabled = false;
                    document.getElementById("inputtedScheduleShiftEndTime").disabled = false;
                }else{
                    document.getElementById("SpecialShiftTypeBlock").style.display = "none";
                    isSpecial = false;
                    $('#inputtedScheduleShiftStartTime').val('')
                    $('#inputtedScheduleShiftEndTime').val('')
                    document.getElementById("inputtedScheduleShiftStartTime").disabled = true;
                    document.getElementById("inputtedScheduleShiftEndTime").disabled = true;
                    $('#inputtedScheduleShiftStartTime').val(selectedStartTime)
                    $('#inputtedScheduleShiftEndTime').val(selectedEndTime)

                }
        };
    });
</script>
</html>
