@using PersonnelManagement.Entities.Concrete
@using PersonnelManagement.Entities.DTOs;
@using PersonnelManagement.Mvc
@model dynamic
@{
    

    //ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<h1>Index</h1>
<form action="choose">
<select name="DataList" id="dataList" onchange="onDataListChange(this)">

            <option disabled hidden selected>Listelenecek Tabloyu Seçiniz</option>
            <option>Çalışanlar</option>
            <option>Departmanlar</option>
            <option>Pozisyonlar</option>

</select>
</form>

<hr />
<body>
    <table id="example" class="display" style="width:100%">
        thead>
            <tr>
                <th>Personel Adı</th>
                <th>Departmanı</th>
                <th>Pozisyonu</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                    <tr>
                        <td>@item.EmployeeName</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.PositionName</td>
                        <td id="buttons" class="dt-button"></td>
                    </tr>
            }
        </tbody>*@
    </table>
    <hr />
    
    <form id ="newForm">
        <input type="text" name= = "NewEmployeeName" placeholder ="Yeni Çalışan Adı" /> <br />
        
        <select name="Departments" id="deplist" onchange="onDepartmentChange(this)">
            
            <option disabled hidden selected>Departmanı</option>
            @foreach (var item in Model.Departments)
            {
                    <option value="@item.DepartmentName">@item.DepartmentName</option>  
            }
            
        </select>
        
        <br />
        
        <select name="Positions" id="poslist">
            
            <option disabled hidden selected>Pozisyonu</option>
            
        </select>
        
        <br />

        <button id ="newButton" onclick="onClickSave();return false">Save</button>
    </form>
    
    

</body>


<script>

        
    //its not over until i win
        $(document).ready(function() {

            var myModel = @Html.Raw(Json.Serialize(Model));        

            onDepartmentChange = function(){

                var selectedDepartment = $('#deplist option:selected').text()
                var options = "";
                
                for (var i = 0; i < myModel.Positions.length;) {

                    if(myModel.Positions[i].departmentName == selectedDepartment){

                        options += "<option value='" + myModel.Positions[i].positionName + "'>" + myModel.Positions[i].positionName + "</option>";

                    }
                    i++;
                }

                $('#poslist').html(options)

            };

            onDataListChange = function(){

                var selectedData = $('#dataList option:selected').text()

                if(selectedData == "Çalışanlar"){
                    $('#example').empty();
                    var table = $('#example');
                    var thead = $('<thead><tr><th>Personel Adı</th><th>Departmanı</th><th>Pozisyonu</th><th>Options</th></tr></thead>');
                    var buttons = $('<td><button>Save</button></td></tr>');
                    table.append(thead);

                    var tbody = $('<tbody></tbody>');
                    for(var i = 0; i < myModel.Employees.length; i++) {
                        var item = myModel.Employees[i];
                        debugger;
                        var row = $('<tr><td>' + item.employeeName + '</td><td>' + item.departmentName + '</td><td>' + item.positionName + '</td>' + buttons);
                        tbody.append(row);
                    }
                table.append(tbody);
                }

                if(selectedData == "Departmanlar"){
                    console.log(selectedData)
                }

                if(selectedData == "Pozisyonlar"){
                    console.log(selectedData)
                }
            }

            onClickSave = function(){
                window.alert("tıklandı")
            }

            @*//-----------------------------------------------------------------------------------
            onDataListChange2 = function(){

                var selectedData = $('#dataList option:selected').text()

                if(selectedData == "Çalışanlar"){
                    console.log(selectedData)
                    var model = Model.Employees;
                }

                if(selectedData == "Departmanlar"){
                    console.log(selectedData)
                    var model = Model.Departments;
                }

                if(selectedData == "Pozisyonlar"){
                    console.log(selectedData)
                    var model = Model.Positions;
                }

                // tabloyu dinamik olarak güncelleme kodları
                $('#example').empty();
                var table = $('#example');
                var thead = $('<thead><tr><th>Personel Adı</th><th>Departmanı</th><th>Pozisyonu</th><th>Options</th></tr></thead>');
                table.append(thead);
                var tbody = $('<tbody></tbody>');
                for(var i = 0; i < model.length; i++) {
                    var item = model[i];
                    var row = $('<tr><td>' + item.EmployeeName + '</td><td>' + item.DepartmentName + '</td><td>' + item.PositionName + '</td><td id="buttons" class="dt-button"></td></tr>');
                    tbody.append(row);
                }
                table.append(tbody);
            }
            //-----------------------------------------------------------------------------------*@

        });
</script>